{% extends 'cookbook/base.html' %}

{% block content %}
    <article class = "post">
        <aside class="actions"> 
            {% if user.is_authenticated %}
                <a class="btn btn-default" href="{% url 'post_edit' pk=recipe.pk %}">
                    {% include './icons/pencil-fill.svg' %}
                </a>
            {% endif %}
        </aside>
        {% if recipe.published_date %}
            <time class = "date">
                {{ recipe.published_date }}
            </time>
        {% endif %}
        <h2>{{ recipe.title }}</h2>
        <p>{{ recipe.text|linebreaksbr }}</p>
        <p>Serves: {{ recipe.recipe_yield }}</p>
    </article>
{% endblock %}
